{
  "globals": {
    "ga": true,
    "chrome": true
  },
  "env": {
    "es6": true,
    "node": true
  },
  "plugins": ["html", "json"],
  "extends": "elemefe",
  "rules": {
    "no-restricted-globals": ["error", "event", "fdescribe"],
    "no-debugger" : "off",
    "eqeqeq": ["off"],
    "linebreak-style": [0, "error", "windows"]
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
