@import "mixins/mixins";

@include b(dcForm) {
  .remarkDiv {
    color: rgba(0, 0, 0, 0.45);
    line-height: 20px;
    padding-bottom: 10px;
  }
  .el-form-new .el-form-item .el-form-item__label {
    font-size: 14px;
  }
  .selectPagination {
    position: absolute;
    bottom: 0;
    margin: auto;
    width: 100%;
    background: #fff;
    box-shadow: 0px -2px 5px #ccc;
  }
  .formNoLabel .el-form--inline .el-form-item__label {
    display: none !important;
  }
  .formNoLabel .el-form-item {
    margin-bottom: 0px;
  }
  /******为了解决默认读取页面账户密码的问题******/
  .zc_display {
    position: absolute;
    left: -10000px;
    top: -10000px;
    height: 0;
    width: 0;
  }
  
  .el-input__prefix {
    line-height: 32px;
    font-size: 13px;
  }
  .el-input--prefix .el-input__inner {
    padding-left: 50px;
    .el-select__tags {
      left:50px;
      width: calc(95% - 50px) !important;
    }
  }
  .prefixLength2 {
    .el-input__inner {
      padding-left: 35px;
    }
    .el-select__tags {
      left: 35px;
      width: calc(95% - 35px) !important;
    }
  }
  .prefixLength3 {
    .el-input__inner {
      padding-left: 50px;
    }
    .el-select__tags {
      left: 50px;
      width: calc(95% - 50px) !important;
    }
  }
  .prefixLength4 {
    .el-input__inner {
      padding-left: 60px;
    }
    .el-select__tags {
      left: 60px;
      width: calc(95% - 60px) !important;
    }
  }
  .prefixLength5 {
    .el-input__inner {
      padding-left: 70px;
    }
    .el-select__tags {
      left: 70px;
      width: calc(95% - 70px) !important;
    }
  }
  .prefixUSLength4 {
    .el-input__inner {
      padding-left: 42px;
    }
    .el-select__tags {
      left: 42px;
      width: calc(95% - 42px) !important;
    }
  }
  .prefixUSLength5 {
    .el-input__inner {
      padding-left: 45px;
    }
    .el-select__tags {
      left: 45px;
      width: calc(95% - 45px) !important;
    }
  }
  .prefixUSLength6 {
    .el-input__inner {
      padding-left: 53px;
    }
    .el-select__tags {
      left: 53px;
      width: calc(95% - 48px) !important;
    }
  }
  .prefixUSLength7 {
    .el-input__inner {
      padding-left: 58px;
    }
    .el-select__tags {
      left: 58px;
      width: calc(95% - 58px) !important;
    }
  }
  .prefixUSLength8 {
    .el-input__inner {
      padding-left: 67px;
    }
    .el-select__tags {
      left: 67px;
      width: calc(95% - 67px) !important;
    }
  }
  .prefixUSLength9 {
    .el-input__inner {
      padding-left: 70px;
    }
    .el-select__tags {
      left: 70px;
      width: calc(95% - 70px) !important;
    }
  }
  .prefixUSLength10 {
    .el-input__inner {
      padding-left: 75px;
    }
    .el-select__tags {
      left: 75px;
      width: calc(95% - 75px) !important;
    }
  }
  .prefixUSLength11 {
    .el-input__inner {
      padding-left: 80px;
    }
    .el-select__tags {
      left: 80px;
      width: calc(95% - 80px) !important;
    }
  }
}
