@import "mixins/mixins";
@import "mixins/utils";
@import 'mixins/button';
@import "common/var";

@include b(dcRadio) {
  .el-dcRadio__tag {
    .el-radio-button {
      margin-right:10px;
      &:last-child{
        .el-radio-button__inner {
          border-radius:$--border-radius-base
        }
      }
      margin-right:10px;
      &:first-child{
        .el-radio-button__inner {
          border-left:none;
          border-radius:$--border-radius-base
        }
      }
      .el-radio-button__inner {
        border:none;
        padding:$--button-small-padding-vertical $--button-small-padding-horizontal;
        border-radius:$--border-radius-base
      }
    }
  }
}
