@import "mixins/mixins";

@include b(page-select__poper) {
    padding: 0px;
    .el-card__header {
      padding:10px 15px;
      .el-input__inner {
        height: 30px;
      }
    }
    .el-table {
      th >.cell {
        font-size: 14px;
        color: rgba(0,0,0,.85);
      }
      .cell {
        line-height: 25px;
        max-width: 250px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
      }
    }
    .el-input__validateIcon {
      display: none;
    }
    .smallpage {
      .number {
        font-size: 14px !important;
        line-height: 20px !important;
      }
    }
}
