@import "mixins/mixins";
@import "common/var";

@include b(small-card) {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border:1px solid $--border-color-lighter;
  @include when(hover-shadow) {
    &:hover,
    &:focus {
      box-shadow: $--box-shadow-light;
    }
  }
  @include m(large) {
    background-color: #f9f9f9;
    padding: 20px;
  }
  .el-small-card-main {
    flex: 1;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    .el-small-card__img {
      width:60px;
      height:60px;
      color: $--color-primary;
      @include m(large) {
        width:50%;
        height:inherit;
        display:flex;
        justify-content: center;
      }
    }
    .el-small-card__main {
      flex:1;
      width: 0px;
      padding-left: 10px;
      .title {
        display: flex; 
        align-items: center;
        color: rgb(60, 60, 60);
        .title-text {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 18px;
          font-weight: bold;
        }
      }
      .el-small-card-content {
        color:#7b7b7b;
        font-size: 14px;
        margin-top:10px;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
    .el-small-card__other {
      button {
        margin-top:-20px;
      }
    }
  }
  .el-small-card__btn {
    border-top: 1px solid #efefef;
    background: #fafafa;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    button {
      color:#aaa;
      &:not(:last-child) {
        border-right: 1px solid #ddd;
      }
      &:hover {
        color: $--color-primary
      }
    }
  }
}