@import "mixins/mixins";

@include b(timedate) {
  .noclear .el-picker-panel__footer .el-button--text {
    display: none;
  }
  .fullAll {
    width: 100%;
  }
  .fullOne {
    width: 88px;
    .el-input__inner {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      border-right: 0;
      width: 100% !important;
    }
  }
  .singleTime {
    position: relative;
    width: calc(100% - 88px) !important;
    .el-input__icon {
      display: none;
    }
    .el-range-input {
      width: 50%;
      font-size: 12px;
    }
    &.el-input__inner {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }
}
